body{
    background-size:100%;
    box-sizing: border-box;
    background-image: url(../images/rocket.gif);
    backdrop-filter:  0.9em;
}
p{
    font-weight: bolder;
    background-color: azure;
    width: fit-content;
    justify-content: center;
    margin:5px;
    padding:20px;
}
.header{
font-size: 50px;
margin-bottom: 20px;
}
/* Form styling */
.search-form {
    border: 2px solid black;
    font-display: block;
    margin: auto;
    padding: 5px;
    background-color:bisque;
    border-radius: 8px; 
    max-width: 800px;
  
}

/* Button styling */
#search-button {
    border: 3px solid #4CAF50;
    border-radius: 8px;
    margin-top: 8px;
}

#search-button:hover {
    background-color: #4CAF50;
    color: white;
}

/* Slideshow styling */
.slideshow {
    max-width: 1000px;
    position: relative;
    margin:auto;
    margin-left: 100px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 1rem; 
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    font-size: 30px;
    padding: 4px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    position: relative;
    color: blue;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    
    font-size: 0.8rem; /* Responsive font size */
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {

    from {opacity: .4}
    to {opacity: 1}
}

.lists{
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    border:3px dotted blue;

}